################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Do-Not-Die/.vs/Do-Not-Die/v17
/.vs
/Do-Not-Die/Do-Not-Die.vcxproj.filters
/Do-Not-Die/Do-Not-Die.vcxproj.user
/Do-Not-Die/Do-Not-Die.vcxproj
/Do-Not-Die/imgui.ini
/vendor/premake
/ProjectGenerator.bat
/Do-Not-Die.sln
